body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 300px;
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, sans-serif;
  font-weight: 900;
}

.colon {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
