body {
  height: 100vh;
  /* background: #000; */
  color: #20782c;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#781a01, #0c3927);
}

.wrap img {
  width: 200px;
  padding-top: 100px;
}

/* .colon {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
} */
